In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kailashkumar\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kailashkumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kailashkumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('http://www.naukri.com/')

In [6]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [7]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [9]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [12]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)  
                        
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)    
                        
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [14]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[0:10],
                 'Location':job_location[0:10],
                 'Company_name':company_name[0:10],
                 'Experience':experience_required[0:10]})
df

,Title,Location,Company_name,Experience
0,"Data Scientist, Marketing","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,4-6 Yrs
1,Data Science Engineer,"Hybrid - Noida, Pune, Bangalore Rural, Chennai...",Futran Tech Solutions,6-9 Yrs
2,AI Data Scientist - Manager,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,5-12 Yrs
3,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
6,Data Scientist,"Hybrid - Pune, Bangalore Rural, Mumbai (All Ar...",Ltimindtree,4-9 Yrs
7,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",Infosys,4-8 Yrs
8,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",Tech Mahindra,6-10 Yrs
9,Data Scientist,Bengaluru,Ericsson,0-3 Yrs